
/**
* @file
* CSS for the uc_ekomi module.
*
* Purpose of this stylesheet is to style the tooltip of the eKomi certificate.
*/
div#qTip {
 padding: 5px;
 width: 200px;
 border: 1px solid #009900;
 border-right-width: 2px;
 border-bottom-width: 2px;
 display: none;
 background: #FFFFFF;
 color: #000000;
 font: 11px Arial;
 text-align: left;
 position: absolute;
 z-index: 1000;
}
